* {
    padding: 0;
    margin: 0;
}

a {
  color: white;
  background-color: #060c21;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  }

title {
    font-family: "Winky Sans", sans-serif;
    background-color: #060c21;
    color: white;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}
body {
    font-family: "Winky Sans", sans-serif;
    background-color: #060c21;
    color: white;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}
footer {
    font-family: "Winky Sans", sans-serif;
    background-color: #060c21;
    color: white;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

